<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<!DOCTYPE html>
<html lang="en">

<head>
   <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version
    of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment. Using EJS
   -->
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <% } %>
<meta charset="UTF-8">
<!--  https://qa.polyfill.io/v2/docs/
Disable minification (remove `.min` from URL path) for more info
Use the es6 alias to include all features that are part of ECMAScript 6 (for which we currently have polyfills)
-->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6"></script>
</head>

<body>
  Hello World
  <!-- script not needed because HtmlWebpackPlugin injects it-->
  <!-- script src="bundle.js"></script -->
</body>

</html>
